td#templateFooter(valign='top')
    table.mcnFollowBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%')
        tbody.mcnFollowBlockOuter
            tr
                td.mcnFollowBlockInner(valign='top')
                    div#footer()
                        div.templateContainerFluid()
                            div You are receiving this email because you have an OurPass account
                            div Fastest One-Click Checkout
                            div Lewes, USA
                            div OurPass Inc, 16192 Coastal Hwy Lewes, DE, 19958
                            div ©2022 OurPass - All rights reserved

                            div.innerFooter()
                                div.footerProgress()
                                div.socials()
                                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%')
                                        tbody.mcnTextBlockOuter
                                        tr
                                            td.mcnTextBlockInner(valign='top' style='text-align: left;')
                                                div()
                                                    img.footerLogo(alt='Logo' src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315147/email-template-assets/images/logo_r8vuva.png')

                                            td.mcnTextBlockInner(valign='top' style='text-align: right;')
                                                div.socialLinks()
                                                    a(href='https://www.linkedin.com/company/ourpasskey' target='_blank') 
                                                        img(src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315147/email-template-assets/images/linkedin_f0k96b.png')
                                                    a(href='https://www.instagram.com/ourpass_co' target='_blank') 
                                                        img(src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315147/email-template-assets/images/instagram_pwh0ta.png')
                                                    a(href='https://www.facebook.com/Pass-117366846773807' target='_blank') 
                                                        img(src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315145/email-template-assets/images/facebook_mnickf.png')
                                                    a(href='https://twitter.com/OurPassCo?s=09' target='_blank') 
                                                        img(src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315148/email-template-assets/images/twitter_t7rnlp.png')
                                                    a(href='https://www.ourpass.co' target='_blank') 
                                                        img(src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315148/email-template-assets/images/web_jkusbd.png')   

