td#templateHeader(valign='top')
    table.mcnImageBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%')
        tbody.mcnImageBlockOuter
            tr
                td.mcnImageBlockInner(valign='top')
                    div#header()
                        div.templateContainerFluid()
                            img.logo(alt='Logo' src='https://res.cloudinary.com/ourpass-co/image/upload/v1646315147/email-template-assets/images/logo_r8vuva.png')
                    