extends layouts/default.pug

block content
  table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%')
    tbody.mcnTextBlockOuter
      tr
        td.mcnTextBlockInner(valign='top' style='padding-top: 9px')
          table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width: 100%; min-width: 100%' width='100%')
            tbody
              tr
                td.mcnTextContent(valign='top')
                  div#emailContainer()
                    div.templateContainerFluid()
                      h4.heading(style='margin: 20px 0px;color: #101010;') The easiest way to link your debit card with OurPass
                      div()
                       
                      div.content(style='font-size: 16px;color: #333333;')
                        div(style='padding: 14px 0;') Hi #{fullName},
                          div(style='padding: 14px 0;') It’s me again, Kartikey, your OurPass guide. Thank you for choosing OurPass.
                          div(style='padding: 14px 0;') We know how stressful it is to search for your card whenever you want to complete a purchase online. So, let’s show you how to fix that once and for all. All you need do is add your card once on the OurPass app and enjoy swift checkout afterwards 😎.
                          div(style='padding: 14px 0;') Here’s how to get started:
                          div(style='padding: 14px 0; font-weight:300;') Step #1 Log in to your OurPass app and click on the ‘Account’ icon at the bottom right of the home page.
                          div(style='padding: 14px 0; font-weight:300;') Step #2 Click on the ‘Cards and Banks’ section.
                          div(style='padding: 14px 0; font-weight:300;') Step #3 At the bottom of the “Cards” page, click on “Add New Card”.
                          div(style='padding: 14px 0; font-weight:300;') Step #4 Enter your 4-digit pin, OTP and follow the steps to link your debit card to your OurPass account.
                          div()
                            img(
                              style='max-width: 100%; min-width: 100%' width='100%' 
                              src="https://res.cloudinary.com/ourpass-co/image/upload/v1649586802/email-template-assets/images/Add-Your-Debit-Card-GIF_jlm0pr.gif"
                              alt='Add Debit Card Video')

                        div(style='padding: 14px 0; font-weight:bold;') Have a fantastic time shopping!

                    div.templateContainerFluid()
                      div(style='padding: 14px 0;') If you have any questions, feel free to reach out to us via help@ourpass.co, Live Chat or directly via WhatsApp (+2348090565661).
                       div(style='padding: 14px 0;') 
                        div(style='padding: 14px 0;')
                          span Virtually Yours,
                          br
                          span Kartikey and the OurPass Team.